name: Build Docker image

on:
  pull_request:
    branches: [main]
    types: [opened, synchronize, closed]

jobs:
  build_docker_image:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6
      - name: Build
        run: docker build -t test .
