name: Build Docker image

on:
  pull_request:
    branches: [main]
    types: [opened, synchronize, closed]

jobs:
  build_docker_image:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5 # v4
      - name: Build
        run: docker build -t test .
